/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 figure{
   width: 60%;
   margin:auto;
 }

 #imgAccueil{
  width: 100%;
}

figcaption{
  width: 100%;
  text-align: center;
}
