<div class="container" style="width: 100%; min-height:400px;">
  <form action="#" class="view">
    <h2>Contact</h2>
    <br>
    <input type="title_email" placeholder="Titre de l'email..." class="form-control" required>
    <textarea ng-model="task.description" class="form-control" placeholder="Texte..." style="min-height: 200px" required></textarea><br>
    <input type="email" placeholder="bob@gmail.com" class="form-control" required>
    <input type="submit" value="Envoyer" class="btn btn-primary">
  </form>
</div>
