<div class="container" style="width: 100%; min-height:400px;">
<!--
  <form action="#" class="view">
    <h2>Contact</h2>
    <br>
    <input type="title_email" placeholder="Titre de l'email..." class="form-control" required>
    <textarea ng-model="task.description" class="form-control" placeholder="Texte..." style="min-height: 200px" required></textarea><br>
    <input type="email" placeholder="bob@gmail.com" class="form-control" required>
    <input type="submit" value="Envoyer" class="btn btn-primary">
  </form>
  -->

  <div class="row">
    <h2>Contact</h2>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <img src=<%= image_path "img_contact.jpg" %> alt="" class="img-circle img-thumbnail" width="100%">
    </div>
    <div class="col-sm-8">
      <p>
        <strong>Xinyu & Paul OLIVIER</strong><br>
      </p>
      <p>
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        235 rue de Bercy <br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        75012 Paris <br>
      </p>
      <p>
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
        <strong>Xinyu: </strong> lxy.sophie@hotmail.com<br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <strong>Paul: </strong>paul.olivier@essec.edu <br>
      </p>
      <p>
        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
        <strong>Xinyu: </strong> 06.80.50.75.10 <br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <strong>Paul: </strong> 07.62.82.96.40 <br>
      </p>

    </div>
  </div>
</div>
