<div class="container" style="width:100%;">
<h1>Covoiturage</h1>
<br/><br/>
<div class="col-sm-6">
  <p>Le Gers n'est malheusement pas très bien deservi en transport en commun.
  <br/><br/>
  C'est une bonne occasion pour prendre la route à plusieurs et faire connaissance avant la fete du mariage
  <br/><br/>
  inscrivez vos noms et trajets souhaités sur le fichier en lien ci-après.
  <br><a href="#">Fichier de covoiturage</a></p>
</div>

</div>
