<div class="container" style="width:100%;">
  <h2>Covoiturage</h2>
  <br/>
  <div class="col-sm-12">
    <p>Le Gers n'est malheusement pas très bien deservi en transport en commun.
    <br/><br/>
    C'est une bonne occasion pour prendre la route à plusieurs et faire connaissance avant la fete du mariage
    <br/><br/>
    Inscrivez vos noms et trajets souhaités sur le fichier en lien ci-après.
    <br/>
    </p>
    <p><a href="https://docs.google.com/spreadsheets/d/1IEk1VTEYFiTJpRKGHvdBIPs7-qFC18EVpoTcgiqh--Q/edit?usp=sharing" onclick="window.open(this.href); return false;">
    Fichier de covoiturage</a></p>
  </div>
  <br/>
  <br/>
  <div class="col-sm-12">
    <p>Si vous ne trouvez pas chaussure à votre pied, n'hésitez pas à me contacter.</p>
    <p>Sinon le site <strong><a href="https://www.blablacar.fr/" onclick="window.open(this.href); return false;">blablacar</a></strong> offres plusieurs possibilités de covoiturage</p>
  </div>
  <br/>
  <br/>

</div>
