<div class="container" style="width:100%;">
  <div class="row">
    <h2>Liste de Mariage</h2>
  </div>
  <div class="row col-sm-12">
  <br/>
    <p>
      Nous savons que vous êtes nombreux à souhaiter faire un geste. <br><br>
      Dans la continuité de la garden party, nous souhaitons pouvoir vous accueillir
      dans notre futur appartement dans de bonnes conditions, nous avons besoin
      de nous équiper, c'est pour cela que nous mettrons une urne à disposition.
    </p>
  </div>
  <div class="row col-sm-12 text-center">

    <img src=<%= image_path "urne.jpg" %> alt="" style="width:20%;">
    <br><br>
  </div>
  <div class="row col-sm-12">
    <p>
    Pour ceux qui ne se retrouveraient pas dans la participation financière,
    et qui préfèreraient personnaliser leurs cadeaux, nous avons mis à disposition
     une liste de mariage en ligne.
    </p>
  </div>



  <div class="row text-center col-sm-12">
    <p style="font-size:1.5em;">
    <br>
      <a href="http://www.millemercismariage.com/oliu_xp/liste.html" onclick="window.open(this.href); return false;">
        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Liste de Mariage
      </a>
    </p>
    <br>
  </div>
  <br>
  <div class="row col-sm-12">
    <p>
      <strong>Points importants: </strong><br>
      <ul>
        <li>Merci de ne pas amener vos présents à Verlus, nous ne pourrions pas les
      prendre dans l'avion de retour sur Paris.</li>
        <li>Si comme nous vous aimez la nature et que vous tenez à ce que de belles fleurs innocentes
      restent en vie ne pas les laisser à notre portée...</li>
      </ul>


    </p>
    <br/>
  </div>
  <div class="row text-center col-sm-12">
    <p style="font-size:0.6em;">Pour des raisons de securisation des paiements, nous avons ouvert notre liste de
    mariage sur le site 1000mercis.com</p>
    <br>
  </div>

</div>
