<div class="container" style="width:100%;">
  <div class="row">
    <h2>Liste de Mariage</h2>
  </div>
  <div class="row col-sm-12">
    <p>
      Nous savons que vous êtes nombreux à souhaiter faire un geste. <br>
      Cette section vous permettra de vous guider dans vos choix.
    </p>

    <br/>
    <p>
      Dans la continuité de la garden party, nous souhaitons pouvoir vous accueillir dans notre futur appartement
      dans de bonnes conditions, c'est pour cela que nous avons orienté notre liste sur le theme de l'amenagement et de la convivialité.
    </p>
    <br/>
    <p>
      <strong>Point important: </strong>Si vous aimez la nature et que vous tenez à ce que
      de belles fleurs innocentes restent en vie ne pas les laisser à notre portée...
    </p>
  </div>

  <div class="row text-center col-sm-12">
    <p style="font-size:1.5em;">
    <br>
      <a href="http://www.millemercismariage.com/oliu_xp/liste.html" onclick="window.open(this.href); return false;">
        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>Liste de Mariage
      </a>
    </p>
    <br>
  </div>
  <br>
  <div class="row col-sm-12">
    <p>
      Pour ceux qui ne se retrouve pas dans la liste, nous mettrons a disposition
      une urne qui servira à l'amenagement de notre futur foyer.
    </p>
    <br/>
  </div>
  <div class="row text-center col-sm-12">
    <p style="font-size:0.6em;">Pour des raisons de securisation des paiements, nous avons ouvert notre liste de
    mariage sur le site 1000mercis.com</p>
    <br>
  </div>

</div>
