<div class="container" style="width:100%;">
  <div class="row">
    <h2>La garden Party du 30 Juillet</h2>
  </div>
  <div class="row">
    <h3>Le lieux</h3>
    <!--Map et adresse complete +coordonnee gps-->
    <div class="col-sm-6">
  <!--Map-->
      <div id="map" style="width: 100%; height: 300px;"></div>

      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

      <script type="text/javascript">
        var myLatlng = new google.maps.LatLng(43.599938, -0.185384);

        var myOptions = {
            zoom: 12,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: []
        };

        var map = new google.maps.Map(document.getElementById('map'), myOptions);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: "Le Moulin de Verlus"
        });
      </script>
    </div>
    <div class="col-sm-6">
      <img src="<%= image_path "moulin.jpg" %>" alt="Le moulin de Verlus" style="width:100%;">
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <br/>
      <p><strong>Rendez-vous le 30 Juillet 2016 à 12h au Moulin de Verlus</strong>
      <br/>
      Verlus à 3,5km d'Aurensan : Ancien moulin de Verlus situé au croisement
      des landes et de la Bigorre : un lieu de détente et
      de ressourcement dans un cadre de verdure et d'eau...
      </p>
    </div>
  </div>
  <div class="row">
    <h3>L'organisation</h3>
    <br/>
    <div class="col-sm-12">
      <p>
      Nous nous retrouverons directement au Moulin autour d'une mechoui
      emporté par quelques airs de jazz manouche.
      </p>
      <br/>
    </div>
  </div>
  <div class="row">
    <h3>Le dress Code</h3>
    <br/>
    <div class="col-sm-12">
      <p>
      Afin de repondre aux interrogations de plusieurs personnes nous attaquons
      un chapitre important; Le Dress Code:
      </p>
    </div>
  </div>
  <div class="row">
    <br/>
    <img src= <%=image_path "dress_code.jpg" %> alt="" class="col-sm-6">
    <img src= <%=image_path "dress_code2.jpg" %> alt="" class="col-sm-6">
  </div>
  <div class="col-sm-12">
    <br/>
    <p>
    Pour les hommes: le lounge suit n'est pas forcement de rigueur mais une tenue de ville
    est le bien venu, il est fortement conseillé de prevoir un chapeau pour ne pas etre géné
     par le soleil de midi;
     <br/>
    Pour les femmes: Profitez des belles journees d'été pour sortir vos robes de saisons
    </p>
  </div>
</div>
